@model CarParking.Models.BaiXe

@{
    ViewData["Title"] = "Tạo bãi xe mới";
}
<partial Name="_StatusMessage" />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-area="Admin" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllSlot" class="control-label"></label>
                <input asp-for="AllSlot" class="form-control" />
                <span asp-validation-for="AllSlot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="CreateRole" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/admin/roles/">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
