
@model CarParking.Models.KhachHang
@{
	ViewData["Title"] = "Home Page";
}
<partial name="_StatusMessage" model=@TempData["StatusMessage"]></partial>
<form asp-action="HomePage">
	<div class="white-bg">
		<link rel="stylesheet" type="text/css" href="~/css/Home.css">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<input asp-for="MaXe" class="form-control" placeholder="Biển Số Xe"/>
			<span asp-validation-for="MaXe" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="BaiXe_Id" class="control-label"></label>
			<select asp-for="BaiXe_Id" class="form-control" asp-items="ViewBag.BaiXe_Id"></select>
		</div>
		<div class="form-group">
			<input asp-action="CheckIn" type="submit" value="Check In" class="btn btn-primary" />
			<input asp-action="CheckOut" type="submit" value="Check Out" class="btn btn-primary" />
		</div>
	</div>


</form>
