
.table {
	width: 100%;
	font-size: 24px;
	
}

.custom-title {
	font-size: 50px; 
	color: #ff0000; 
	text-align: center; 
	text-transform: uppercase; 
	margin-top: 50px; 
}
.table thead th {
	padding: 10px;
	font-weight: bold;
	border-bottom: none;
	background-color: #228B22;
	color: #fff;
}
.table tbody td {
	padding: 16px;
	border-bottom: 1px solid #dee2e6;
}
.table th, .table td {
	border: 2px solid #dee2e6; 
	padding: 8px;
}
.table tr:hover {
	background-color: #CCFFCC;
}
