@using Microsoft.AspNetCore.Identity;

@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Danh sách các role (vai trò)";
} 

<div class="mb-2">
    <a class="btn btn-secondary" href="/admin/roles/createrole">New role</a>

</div>
<partial name="_StatusMessage" model=@TempData["StatusMessage"]></partial>
<table class="table">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Tác vụ
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>

                        <a class="btn btn-success btn-sm" asp-area="Admin" asp-controller="Roles" asp-action="Edit" asp-route-roleid="@item.Id">Edit</a>
                        <a class="btn btn-danger btn-sm" asp-area="Admin" asp-controller="Roles" asp-action="DeleteRole" asp-route-roleid="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</table>