@model CarParking.Models.BaiXe

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BaiXe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AllSlot" class="control-label"></label>
                <input asp-for="AllSlot" class="form-control" />
                <span asp-validation-for="AllSlot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RemainingSlot" class="control-label"></label>
                <input asp-for="RemainingSlot" class="form-control" />
                <span asp-validation-for="RemainingSlot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NhanVien_Id" class="control-label"></label>
                <select asp-for="NhanVien_Id" class="form-control" asp-items="ViewBag.NhanVien_Id"></select>
                <span asp-validation-for="NhanVien_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
